.container{
  display: flex;
  flex-direction: row-reverse;
  width: 300px;
  flex-wrap: wrap;
}
.green {
  width: 150px;
  height: 150px;
  background: #51d400;
}
.yellow {
  background: #ffd62a;
  width: 150px;
  height: 150px;
}
.purple {
  background: #b02afe;
  width: 150px;
  height: 150px;
}
